USE [master]
GO
/****** Object:  Database [CWXT]    Script Date: 2018/1/4 20:04:11 ******/
CREATE DATABASE [CWXT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CWXT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CWXT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CWXT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CWXT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CWXT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CWXT]
GO
USE [CWXT]
GO
/****** Object:  Table [dbo].[login]    Script Date: 2018/1/4 20:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[name] [nchar](15) NOT NULL,
	[passward] [nchar](15) NOT NULL,
	[power] [int] NOT NULL,
	[img] [image] NOT NULL,
	[isonline] [int] NULL,
 CONSTRAINT [PK_login] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 2018/1/4 20:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[fromuser] [nchar](20) NOT NULL,
	[touser] [nchar](20) NOT NULL,
	[message] [nchar](500) NOT NULL,
	[time] [nchar](20) NULL,
	[state] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[totalmoney]    Script Date: 2018/1/4 20:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[totalmoney](
	[money] [float] NOT NULL,
	[yusuan] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WZ]    Script Date: 2018/1/4 20:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WZ](
	[name] [nchar](20) NOT NULL,
	[num] [int] NOT NULL,
	[remain] [int] NOT NULL,
	[detail] [nchar](500) NOT NULL,
 CONSTRAINT [PK_WZ] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WZ_in]    Script Date: 2018/1/4 20:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WZ_in](
	[name] [nchar](20) NOT NULL,
	[num] [int] NOT NULL,
	[detail] [nchar](500) NOT NULL,
	[time] [nchar](20) NOT NULL,
	[touser] [nchar](20) NOT NULL,
	[state] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WZ_out]    Script Date: 2018/1/4 20:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WZ_out](
	[name] [nchar](20) NOT NULL,
	[num] [int] NOT NULL,
	[detail] [nchar](500) NOT NULL,
	[time] [nchar](20) NOT NULL,
	[touser] [nchar](20) NOT NULL,
	[state] [int] NOT NULL,
	[Gtime] [nchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WZ_temp]    Script Date: 2018/1/4 20:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WZ_temp](
	[name] [nchar](200) NOT NULL,
	[num] [int] NOT NULL,
	[detail] [nchar](500) NOT NULL,
	[time] [nchar](200) NOT NULL,
	[touser] [nchar](200) NOT NULL,
	[state] [int] NOT NULL,
	[Gtime] [nchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZJ]    Script Date: 2018/1/4 20:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZJ](
	[money] [float] NOT NULL,
	[type] [nchar](10) NOT NULL,
	[people] [nchar](10) NOT NULL,
	[time] [nchar](20) NOT NULL,
	[detail] [nchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZJ_temp]    Script Date: 2018/1/4 20:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZJ_temp](
	[money] [float] NOT NULL,
	[type] [nchar](10) NOT NULL,
	[people] [nchar](10) NOT NULL,
	[time] [nchar](20) NOT NULL,
	[detail] [nchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[totalmoney] ([money], [yusuan]) VALUES (9195, 0)
INSERT [dbo].[WZ] ([name], [num], [remain], [detail]) VALUES (N'椅子                  ', 11, 10, N'原有物资                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ')
INSERT [dbo].[ZJ] ([money], [type], [people], [time], [detail]) VALUES (10000, N'入         ', N'云昴        ', N'2018/1/3 10:16:50   ', N'团委补助                                              ')
INSERT [dbo].[ZJ] ([money], [type], [people], [time], [detail]) VALUES (100, N'出         ', N'大学生志愿服务中心 ', N'2018/1/4 14:07:42   ', N'测试                                                ')
INSERT [dbo].[ZJ] ([money], [type], [people], [time], [detail]) VALUES (100, N'出         ', N'大学生志愿服务中心 ', N'2018/1/4 14:39:57   ', N'测试                                                ')
USE [master]
GO
